*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx

# Security and secrets
.env
.env.*

# Logs
*.log

# Keep Gradle wrapper jar
!gradle/wrapper/gradle-wrapper.jar

# Binaries / Executables
*.exe
